/* CreateSpecialtyForm.css */

/* Contenedor principal */

  
  /* Estilos para los elementos de formulario */
  form > div {
    margin: 0 auto;
   
  }
  
  form label {
    display: block;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px auto;
  }
  
  /* Estilos para el botón de enviar */
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Estilos para el botón de mock */
  button[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  