.navbar {
    background-color: #3596bd;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  